
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #F8F9FA;
  color: #222222;
  font-weight: 400;
}

img {
  max-width: 100%;
  border: 1px solid #bdbdbd;
  border-radius: 0.25rem;
  padding: 0.25rem;
}

p {
  font-size: 1.125rem;
  margin: 0 0 15px;
  line-height: 1.6;
  color: #222222;
}

strong {
  font-weight: 700;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  color: #000;
  font-size: 36px;
}

h2 {
  color: #222;
  font-size: 30px;
}

h3 {
  color: #444;
  font-size: 24px;
}

h4 {
  color: #555;
  font-size: 22px;
}

h5 {
  color: #666;
  font-size: 20px;
}

h6 {
  color: #777;
  font-size: 18px;
}


/* Sections */
section {
  padding: 90px 15px;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

a.cta {
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  background-color: #f72d3d;
  border: 1px solid #d41c2a;
  border-radius: 25px;
  color: white;
  text-transform: uppercase;
  display: inline-block;
  box-shadow: rgba(100, 100, 111, 0.8) 0px 7px 19px;
  transition: all 0.8s ease;
}

a.cta:hover {
  background-color: #f75763;
  border: 1px solid #3b1215;
  color: black;
}

/* Banner */
.banner {
  background: linear-gradient(90deg, rgba(241, 157, 0, 0.8), rgba(0, 0, 0, 0.5)), url(../img/banner.jpg) no-repeat;
  background-position: top right;
  background-size: cover;
}

.banner h1 {
  color: rgba(255, 255, 255, 0.85);
  text-transform: uppercase;
  font-weight: 700;
}

.banner p {
  color: white;
  font-size: 1.375rem;
  letter-spacing: 1.5px;
  font-weight: 100;
  text-shadow: 2px 2px 7px #222;
}

/* Section colors */
.first {
  background-image: linear-gradient(315deg, #F5C45E 0%, #92cfed 74%);
}

.first .container {
  max-width: 800px;
}

.second {
  background-color: #E78B48;
}

.third {
  background-color: #BE3D2A;
}

.third .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.third .left-content {
  flex-basis: 68%;
}

.four {
  background-color: #0d87c4;
}

.four .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 20px;
}



.four .member {
  background-color: #c0c6fa;
  padding: 20px;
  margin: 0 0 60px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  flex-basis: 31%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.four .member:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}