*{
    overflow-x: hidden;
}
main {
    width: 100%;
    height: 700px;

    background-color: aqua;
    padding: 30px 0px 50px;
    margin:0;

}

#heading {
    padding: 10px 0px 0px;
}

#contact {
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
    color: navy;
    margin: 0px 100px 0px;
    padding: 15px;
}

#para {
    text-align: center;
    margin: 0px 350px 10px;
    justify-content: center;
    padding: 10px;


}

#mbox12 {
    display: flex;
    overflow: hidden;
    
}

#mbox1 {

    width: 47%;
    margin: 30px 10px;
    height: 400px;

   
    

}

#mbox2 {

    width: 48%;
    margin: 30px 10px;
    height: 400px;
    overflow-y: hidden; 
    white-space: normal; 
    text-overflow: ellipsis; 
  
    

}



.aimage {
    width: 40px;
    height: 40px;
    margin:40px  20px 0px;
    display: inline-block;

    position: relative;
    top: 20px;
    
}
.aimg {
    height: 36px;
    width: 38px;
    justify-content: center;
    align-items: center;
    
}
.titlema
{
    display: inline-block;
        width: 200px;
    height: 32px;
    margin: 0px 20px 0px;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    color: #800080;
   
}
 .intitlema
{
   
    width: 300px;
    
    margin: 0px 20px;

    
    position:relative;
    left:85px;
    font-size: 20px;
} 


#fset {

    border-style: dashed;
    width: 99%;
    height: 397px;
    border: 2px solid grey;
    background-color: white;
  
}

legend {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 30px;
    color: rgb(106, 106, 172);
   
}

.formelement {
    height: 65px;
    width: 80%;
    margin: 20px;
    overflow-y: hidden;

}

h3 {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(20, 20, 49);
    color: #FF7F50;
    font-weight: bolder;

}

.uinput {
    border: none;
    border-bottom: 3px solid goldenrod;
    border-bottom: dotted;
    display: inline-block;
    margin: 2px 40px;
    width: 60%;
    height: 40px;
}

#submit {
    display: inline-block;
    width: 20%;
    height: 30px;
    margin: 15px 50px;
    border-radius: 25px;
    font-size: 20px;
    font-weight: bolder;
    color: orange;
    background-color: black;
    cursor: pointer;
    text-align: center;
    justify-content: center;
}
@media screen and (max-width: 768px) {
    #mbox12 {
        flex-direction: column;
    }

    #mbox1,
    #mbox2 {
        width: 90%;
        margin: 20px auto;
        height: auto;
    }

    #para {
        margin: 10px 20px;
    }

    .uinput {
        width: 90%;
        margin: 10px auto;
    }

    #submit {
        width: 50%;
        margin: 15px auto;
    }

    .titlema,
    .intitlema {
        font-size: 18px;
        bottom: 30px;
        left: 20px;
    }

    #navbar ul {
        flex-direction: column;
        align-items: flex-start;
    }

    #navbar ul li a {
        padding: 10px;
    }
}