/* =====================
   GALLERY STYLES
===================== */
#title {
    box-sizing: border-box;
    text-align: center;
    padding: 10px;
    color: whitesmoke;
    background-color: rgb(18, 35, 61);
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    font-style: italic;
    width: 100%;
}

#images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(18, 35, 61);
    width: 100%;
}

.box {
    margin: 20px 0;
    height: 280px;
    width: 23%;
    background-color: beige;
    border-radius: 25px;
    overflow: hidden; /* Ensures hover scaling doesn't overflow */
}

.inbox {
    width: 100%;
    /* height: 100%; */
    border-radius: 25px;
    transition: 0.5s; /* move transition here */
}

.inbox:hover {
    cursor: pointer;
    transform: scale(1.1);
}

/* =====================
   MEDIA QUERY FOR MOBILE
===================== */
@media (max-width: 768px) {
    #title {
        font-size: 30px;
        padding: 9px;
        width: 100.6%;
    }

    .box {
        width: 45%; /* Two images per row */
        height: 200px;
        margin: 10px 0;
       
    }

    #images {
        width: 100.6%;
    }
}

.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: #fff;
  padding: 20px;
  max-width: 400px;
  border-radius: 8px;
  text-align: center;
}

.modal-content img {
  width: 100%;
  border-radius: 6px;
}

.close {
  position: absolute;
  right: 20px;
  top: 10px;
  cursor: pointer;
  font-size: 24px;
}

