/* Navigation Bar */
*{
    margin: 0;
    padding: 0;
}

#navbar {
    display: flex;
   
    align-items: center;
    position: relative;
    
    width: 100%;
}

#navbar::before {
    content: "";
    background-color: black;
    height: 100%;
    width: 100%;
    opacity:0.8;
    position: absolute;
    z-index: -1;
    
    
}

#logo {
    margin: 10px 24px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-ser;
    font-weight: bolder;
    align-items: center;
    color:aquamarine;
    justify-content: center;

}



#navbar ul {
    display: flex;
   
}

#navbar ul li {
    list-style: none;
    font-size: 18px;
}

#navbar ul li a {
    color: white;
    display: inline-block;
    text-decoration: none;
    padding: 3px 22px;
    border-radius: 20px;

}

#navbar ul li a:hover {
    color: black;
    background-color: white;

}

		/* footer */
        footer{
            background-color: #111;
            
        }
        .footercontainer{
            width: 100%;
            padding: 20px 0px 5px;
        }
        .socialicons{
            display: flex;
            justify-content: center;
        }
        .socialicons a{
         text-decoration: none;
         padding:  5px;
         background-color: white;
         margin: 10px;
         border-radius: 50%;
        }
        .socialicons a i{
            font-size: 1.5em;      
            color: black;
            opacity: 0.9;
        }
        .socialicons a:hover{
            background-color: #111;
            transition: 0.5s;
        }
        .socialicons a i:hover{
            color: white;
            transition: 0.5s;
        }
        .footernav{
            margin: 30px 0;

        }
        .footernav ul{
            display: flex;
            justify-content: center
        }
        .footernav ul li{
            list-style: none;
        }
        .footernav ul li a{
            
            list-style: none;
            color: white;
            margin: 0px 5px 0px;
            text-decoration: none;
            font-size: 1.3em;
            opacity: 0.7;
            transition: 0.5s;

        }
        .footernav ul li a:hover{
            opacity: 1;
        }
        .footerbottom{
            background-color: #000;
            padding: 10px;
            text-align: center;
        }
        .footerbottom p{
            color: white;
            letter-spacing: 1px;
            font-weight: 400;
        }



