#navbar{
    text-align:center;
    border-style:solid;
    border-width:25px;
    border-color:beige;
    background-color:beige;
   
   
}
a{
    text-decoration:none;
    margin-right:100px;
}
h3{
    color:rgb(73, 203, 203);
    text-align:center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#img{
    height:150px;
    background-image:url(https://up.yimg.com/ib/th?id=OIP.bXbX7pNDpTA8ShDImtSazQHaEo&pid=Api&rs=1&c=1&qlt=95&w=189&h=118)

}
h4{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(55, 149, 118)
}
p{
    display:inline;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}
#button{
    text-align: center;
    border-style:groove;
    border-color:beige;
    background-color:blanchedalmond;
    border-width:2px;
    padding:4px 3px 4px 3px;
    margin-top:100px;
    
}